body {
  background-color: #987456;
}
.container {
  background-color: #DFCAA0;

}

h1 {
  color: white;
  font-size: 60px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-image: url(kitaratausta.jpg);
  background-size: auto;
  margin-bottom: 0px;
}
h2 {
  font-size: 60px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
h3 {
  font-size: 60px;
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
}
.leipä {
  font-size: 20px;
  text-align: justify;
  background: rgba(255, 255, 255, 0.5);
  padding-right: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

ul {
  list-style-type: none;
}
.footer {
  background-color: ;
  text-align: center;
  margin-top: 50px;
}
.linkki{
  color: brown;
}
.active{
  background-color:  #c8a480;
  border-radius: 5px;
}
textarea {
  margin-top: 20px;
}
label{
  padding: 20px;
}
.submit {
 margin-left: 100px;
}
.suositus{
  vertical-align: top;
}
.ok {
  margin-top: 20px;


}
.teksti{
  background: rgba(255, 255, 255, 0.5);
}
